/*************************************************************************
 * cssbase_pc.css
 *  PC版のサイズ、レイアウトの設定
 *************************************************************************/
/* ====================================================
 * ELEMENT
 * ===================================================*/
html{}
body{
  font-size: 12pt;
  min-width:1024px;
  min-height:680px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  padding-top:2%;
  padding-bottom:2%;
}
/* ====================================================
 * Font
 * ===================================================*/
.siteTitleSize{
  font-size:36pt;
}
.titleSize{
  font-size:28pt;
}
.subtitleSize{ 
  font-size:20pt;
}
.siteTitle{
  font-weight:500;
  text-align:center;
}
/* ====================================================
 * Location
 * ===================================================*/
.subArea{
  margin-top:5%;
}
/* ====================================================
 * Layout
 * ===================================================*/
.leftPanel, .rightPanel{
  width:20%;
}
.mainPanel{
  width:60%;
  min-height:100%;
}
