/*************************************************************************
 * cssbase.css
 *  色付けおよびフォントファミリーなど、サイズや配置以外のスタイルを定義する
 *
 *************************************************************************/
/* ====================================================
 * ELEMENT
 * ===================================================*/
html{}
body{
  font-family: "Meiryo UI", "メイリオ", "ＭＳ Ｐゴシック", "ヒラギノ角ゴシック";
  background-color: #ffffff;
  height:100%;
  display:block;
}
/* ====================================================
 * Font
 * ===================================================*/
.siteTitle{
  font-family:"Meiryo UI";
  font-style:italic;
}
/* ====================================================
 * Layout
 * ===================================================*/
.leftPanel, .rightPanel{
  background-color:#F1F1F1;
  display:inline-block;
}
.mainPanel{
  display:inline-block;
}
